.Loading {
    animation: rotate 2s linear infinite;
    border: 5px solid #8c8c8c;
    border-left-color: #ffffff;
    border-radius: 100%;
    height: 100px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 100px;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}